*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    
}

.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    


}

h2{
    font-size: 30px;
    margin: 15px;
}

.notas{ 
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 550px;
    height: 250px;
    
    
}

body{
    background-color: rgb(238, 222, 203);
    width: 1799px;
}

h1,h2{
    font-family: "Montserrat", sans-serif;
}

h1{   
    text-align: center;
    margin: 2rem; 
    font-size: 45px;
    
    
}
form{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(235, 210, 179);
    width: 500px;
    height: 400px;
    position: relative;
    border-radius: 20px;
    border: 1px solid rgb(233, 191, 139);
    gap: 10px;
    
}

.novo_bloco{ 
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    top: 200px;
    width: 550px;
    height: auto;
    box-shadow: 0 0 1500px 1000px rgba(0, 0, 0, 0.63);
    border-radius: 20px;
    z-index: 1000;
    
    
}



.titulo_notas{
    width: 100%;
    height: 2rem;
    border-radius: 20px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: 1px solid rgb(77, 77, 77);
}
.texto_notas{
    width: 100%;
    height: 250px; 
    padding: 10px;
    border-radius: 20px;
    resize: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;


}

.titulo_notas::placeholder{
    padding: 10px;
}

.texto_notas::placeholder {
    padding: 10px; 
}

.botao_add{
    width: 104%;
    height: 45px;
    border-radius: 20px;
    background-color:  rgb(255 178 85);
    border: 1px solid rgba(0, 0, 0, 0.425);
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    
    
}

.botao_add:hover, .btn_novo_bloco:hover {
    background-color: rgb(228, 135, 22); 
    
}
.btn_novo_bloco{
    position: absolute;
    left: 120px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    padding: 3px 10px 3px 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background-color:  rgb(255 178 85);
    border-radius: 24px;
    cursor: pointer;
    height: 34px;

}

.img_btn_adicionar{
    width: 16px;
    height: 16px;
}

header{
    display: flex;
    align-items: center;
    justify-items: center;
    
}

.lista_notas{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;   
    padding-left: 75px;
    gap: 50px;
    box-sizing: border-box;


}

.nota{
    position: relative;
    width: 300px;
    height: 400px;
    background-color:  rgb(231, 169, 93);
    border: 1px solid rgb(223, 132, 21);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.308);
    overflow-wrap: break-word;
    overflow: hidden;
    
 
}


h3{
    padding: 15px;
    text-align: center;
    background-color:  rgb(226, 154, 66);
    border-bottom: 1px solid rgb(223, 132, 21);
    overflow-wrap: break-word;
}
p{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    
    
    
    
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.267);
    z-index: 1000;
}

.h2-novo-bloco{
    margin: 0 0 15px 0;
}

.fechar{
    position: absolute;
    top: 15px;
    right: 15px;
    font-family: "Segoe UI Symbol", sans-serif;
    font-weight: 800;
    cursor: pointer;

}

.fechar:hover{
    color: red;
}

.icone-excluir {
    position: absolute;
    top: 5px; 
    right: 5px; 
    width: 16px; 
    height: 16px; 
    cursor: pointer; 
    
}

.icone-excluir:hover {
    filter: grayscale(100%) sepia(100%) hue-rotate(180deg); 
}


